body {
	background-image: url("../picture/4.jpg");
}

#main {
	position: relative;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 600px;
	/*border: 1px solid grey;*/
	/*background-color: blue;*/
}


#pic {
	border: 3px solid white;
	top: 280px;
	left: 65%;
	position: absolute;
	width: 352px;
	height: 352px;
	transition: 0.5s;
}

.b0 {
	opacity: 0;
}

.b1 {
	opacity: 1;
}

.win {
	position: absolute;
	top: -200px;
	left: -10px;
	opacity: 0;
}

.show_win {
	color: #11f71c;
	font-size: 50pt;
	position: absolute;
	top: -200px;
	left: -10px;
}

p {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	font-family: Verdana;
	padding-bottom: 20px;
	color: white;
}

h1 {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	font-family: Verdana;
	padding-bottom: 20px;
	color: white;
}

#picture {
	position: absolute;
	height: 352px;
	width: 352px;
	margin-left: 13px;
	/*background-color: blue;*/
	/*border: 3px solid white;*/
}

#picture div {
	border: 1px solid white;
	padding: 0;
	width: 88px;
	height: 88px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: absolute;
	transition: 0.5s;
	cursor: pointer;
	border-radius: 8px;
}

#p {
	border: 0!important;
}
.a0 {
	background-image: url("../picture/1.png");
}

.a1 {
	background-image: url("../picture/2.png");	
}

.a2 {
	background-image: url("../picture/3.png");	
}

.a3 {
	background-image: url("../picture/5.jpg");		
}

#picture div:hover {
	/*width: 91px;*/
	/*height: 91px;*/
	/*opacity: 0.6;*/
	transform: scale(1.07);
}

#button {
	border-radius: 8px;
	position: absolute;
	bottom: 65px;
	left:-100px;
	font-size: 20pt;
	background-color: #3571f2;
	color: white;
	padding: 10px;
	transition: 0.5s;
}

#button:hover {
	transform: scale(1.07);
}

#restart {
	border-radius: 8px;
	position: absolute;
	bottom: 65px;
	left: 50px;
	font-size: 20pt;
	background-color: #3571f2;
	color: white;
	padding: 10px;
	transition: 0.5s;
}

#restart:hover {
	transform: scale(1.07);
}

#change {
	border-radius: 8px;
	position: absolute;
	bottom: 65px;
	left: 200px;
	font-size: 20pt;
	background-color: #3571f2;
	color: white;
	padding: 10px;
	transition: 0.5s;
}

#change:hover {
	transform: scale(1.07);
}

#origin {
	border-radius: 8px;
	position: absolute;
	bottom: 65px;
	right: -75px;
	font-size: 20pt;
	background-color: #3571f2;
	color: white;
	padding: 10px;
	transition: 0.5s;
}

#origin:hover {
	transform: scale(1.07);
}

.start {
	content: "Start!";
}

.restart {
	content: "Restart!";
}

.p1 {
	top: 0px;
}

.p2 {
	top: 88px;
}

.p3 {
	top: 176px;
}

.p4 {
	top: 264px;
}

.p5 {
	left: 0px;
}

.p6 {
	left: 88px;
}

.p7 {
	left: 176px;
}

.p8 {
	left: 264px;
}
#a {
	background-position: 0% 0%;
}

#b {
	background-position: 33.3% 0%;
}

#c {
	background-position: 66.6% 0%;
}	

#d {
	background-position: 100% 0%;
}

#e {
	background-position: 0% 33.3%;
}

#f {
	background-position: 33.3% 33.3%;
}

#g {
	background-position: 66.6% 33.3%;
}	

#h {
	background-position: 100% 33.3%;
}

#i {
	background-position: 0% 66.6%;
}

#j {
	background-position: 33.3% 66.6%;
}

#k {
	background-position: 66.6% 66.6%;
}	

#l {
	background-position: 100% 66.6%;
}

#m {
	background-position: 0% 100%;
}

#n {
	background-position: 33.3% 100%;
}

#o {
	background-position: 66.6% 100%;
}	

#p {
	background-image: none!important;
}

#info {
	position: absolute;
	top: 550px;
}

span {
	color: gold;
}